<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'/>
    <title>My Life</title>
    <link href="../../../css/a.css" rel="stylesheet"/>
    <link href="../../../image/abc.ico" rel="shotcut icon"/>
</head>
<body>
<header>
    <div class="text">
        <a><em>加入收藏</em>|<span>联系我们</span></a>
    </div>
</header>
<div id="content">
    <form method="post" action="regist">
        用 户 名：<input  id="username" name="username" class="textbox" type="text" /><br/>
        密    码：<input  id="password1" name="password1" class="textbox" type="password"/><br/>
        确认密码：<input id="password2" name="password2" class="textbox" type="password"/><br/> 
        邮    箱：<input id="email" name="email" class="textbox"/><br/>
        <input id="submit" type="submit" value="注册" onclick=""/>        
    </form>
</div>
<div id="footer">
    <p><span>© 2016 soft 沪ICP备111111111号</span></p>
</div>
</body>
</html>